body{
  margin: 0px
}
.bg-lv-1{
  background-color: #595959;
}
.bg-lv-2{
  background-color: #3B3838;
}
.ft-lv-1{
  font-size: 28px;
  color: white;
  font-weight: bold;
  font-family: myFirstFont;
}
@font-face {
    font-family: myFirstFont;
    src: url(../font/zt.TTF);
}
.ft-lv-2{
  font-size: 20px;
    color: white;
  font-weight: bold;
  font-family: myFirstFont;
}
.ft-lv-3{
  font-size: 20px;
    color: white;
  font-weight: bold;
  font-family: myFirstFont;
}
.ft-lv-4{
  font-size: 20px;
}
.ft-lv-5{
  font-size: 20px;
}

.navbar{
  height: 60px;

}
.navbar .navbar-header{
  
}
.navbar .navbar-header .navbar-header-content{
  margin-top:10px;
  position:relative;
  left:0px;
  right:0px;
  height:40px;
  display:block;
  float:left;
  line-height:45px;
}
.navbar .navbar-list{
     display:block;
	float:right;
	height:60px;
}
.navbar .navbar-list .navbar-button{
    margin-top:20px;
	margin-right:20px;
	display:block;
	float:left;
}
.navbar .navbar-list .navbar-dropdown{
  
}
.navbar .navbar-list .navbar-dropdown .navbar-dropdown-button{
  
}
.navbar .navbar-list .navbar-dropdown .navbar-dropdown-list{
  
}
.navbar .navbar-list .navbar-dropdown .navbar-dropdown-list .navbar-dropdown-list-item{
  
}
.img-area  {
	height:40vw;
	background:url(../img/bg.jpg);
	background-size:100% auto;
	background-repeat:no-repeat;
}
.main-area{
	padding-top:10%;
	padding-left:20%;
	padding-right:20%;
	height:600px;
}
.line-block{
	
	height:60px;
}
.icon-hyh{
	border-radius:20px;
	margin-top:10px;
	margin-right:10px;
	margin-left:40px;
	height:40px;
	width:40px;
	float:left;
}
.lineits{
	background-color: #FFFFFF;
	height:2px;
	margin-top:18px;
}
.lineits2{
	background-color: #FFFFFF;
	height:2px;
	margin-top:2px;
}
.sub-title{
	height:40px;
	width:40%;
	text-align:center;
	float:left;
	margin-top:2px;
}
.sub-title2{
	height:40px;
	width:40%;
	text-align:center;
	float:left;
	margin-top:2px;
}
.border-line2{
	width:50%;
	height:40px;
	float:left;
	background-size:100% auto;
}
.border-line{
	width:30%;
	height:40px;
	float:left;
	background-size:100% auto;
}
.div1{
	height:100px;
	width:70vw;
}
.div2{
	height:150px;
	width:70vw;
}
.div3{
	height:150px;
	width:70vw;
}
.subdiv1{
	margin-top:50px;
	margin-bottom:50px;
	width:30%;
	height:80%;
	background:url(../img/bg.jpg);
	float:left;
	background-repeat:no-repeat;
}
.subdiv2{
	height:40px;
	width:20vw;
}
.subdiv3{
	height:40px;
	width:20vw;
}